<h1>Pirate Details</h1>

<!-- TODO: Display pirate information using ActiveRecord -->
<!-- Show the pirate's name, weight, and height using @pirate instance -->
<!-- These should be visible in the page content for the tests to pass -->

<!-- TODO: Display associated ships information -->
<!-- Show details for all ships associated with this pirate -->
<!-- Use @pirate.ships to access the associated ships -->
<!-- Include ship name, type, and booty for each ship -->
<!-- All ship details should be visible in the page content -->

<!-- TODO: Iterate over the pirate's ships -->
<!-- Example: @pirate.ships.each do |ship| -->
<!-- Display each ship's attributes -->

<!-- HINT: Use ActiveRecord associations to access ship data -->
<!-- HINT: Make sure all the data from the form submission is displayed -->
