<h1>Pirate Details</h1>

<!-- TODO: Display pirate information -->
<!-- Show the pirate's name, weight, and height -->
<!-- These should be visible in the page content for the tests to pass -->

<!-- TODO: Display ship information -->
<!-- Show details for both ships that were created -->
<!-- Include ship name, type, and booty for each ship -->
<!-- All ship details should be visible in the page content -->

<!-- TODO: Use instance variables from the controller -->
<!-- The controller should pass the pirate and ships data to this view -->

<!-- HINT: You might want to iterate over ships if you store them in an array -->
<!-- HINT: Make sure all the data from the form submission is displayed -->
